<launch>
  <!-- Load XACRO Description File -->
  <param command="$(find xacro)/xacro $(find sentry_description)/urdf/sentry.xacro" name="robot_description"/>

  <!-- Spawn model in world -->
  <node args="-param robot_description -urdf -model sentry" name="spawn_urdf" pkg="gazebo_ros" type="spawn_model"/>

  <!-- Spawn Empty World -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="paused" value="true"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="gui" value="true"/>
    <arg name="headless" value="false"/>
    <arg name="debug" value="false"/>
  </include>

  <!-- Load Dif Drive Configuration-->
  <rosparam file="$(find sentry_description)/config/dif_drive.yaml" command="load"/>

  <!-- Load Control Manager -->
  <node name="sentry_control_manager" pkg="controller_manager" type="spawner"
      respawn="false" output="screen" args="mobile_base_controller" />
      
</launch>